:root {
  --font-family: "Arial", sans-serif;
  --second-family: "Prata", serif;
}

body {
  background-color: #282829;
  color: #fff;
}

h1 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 80px;
  line-height: 120%;
  margin: 0 0 50px 0;
}

h2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 54px;
  line-height: 110%;
  color: #38535d;
}

h3 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
  position: relative;
}

button {
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.btn-white:hover {
  background: #ebd396;
  color: #fff;
}

.text-link::after {
  content: "";
  position: absolute;
  bottom: -0.4em;
  left: 50%;
  right: 50%;
  height: 1px;
  background: currentColor;
  transition: all ease 0.2s;
}
.text-link:hover::after {
  left: 0;
  right: 0;
  height: 2px;
}
.text-link::before {
  position: absolute;
  transform: translateX(-100%);
  left: -10px;
  color: #eee;
  opacity: 0.3;
  font-weight: 100;
  font-size: 0.8em;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: transparent;
  transition: background 0.5s ease, transform 0.3s ease;
  transform: translateY(0);
}
.header .wrap {
  display: flex;
  gap: 205px;
  align-items: center;
  margin-left: 163px;
  margin-top: 30px;
}
.header .wrap .nav {
  display: flex;
  gap: 29px;
}
.header .wrap .nav_link {
  text-decoration: none;
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
}

.hero {
  display: flex;
  width: 100%;
  background-color: #222222;
  margin-bottom: 100px;
}
.hero_text {
  flex-grow: 1;
  margin-top: 332px;
  padding: 0 162px;
  padding-bottom: 50px;
}
.hero_text .hero-span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 50px;
  line-height: 120%;
  margin: 0 0 64px 0;
}
.hero_text .strengths {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 40px;
}
.hero_text .strengths-item {
  height: 37px;
  display: flex;
  gap: 17px;
  align-items: center;
}
.hero_text .strengths-item_mark {
  width: 39px;
  height: 37px;
  background: url("../assets/mark.svg");
}
.hero_text .strengths-item_content {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
}
.hero_text .strengths-item_content__accent {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.hero_text .btn {
  padding: 39.5px 50px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
}
.hero_img {
  width: 763px;
  background: url("../assets/img/hero.jpg") center/cover;
}

.company {
  display: flex;
  padding-bottom: 100px;
}
.company-left, .company-right {
  width: 662px;
  max-width: 662px;
}
.company-left {
  background: url("../assets/img/products1.jpeg") center/cover no-repeat;
}
.company-right {
  background: url("../assets/img/products2.jpeg") center/cover no-repeat;
}
.company-content {
  width: 676px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 53px 53px 0 53px;
}
.company-content .company-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.company-content .company-wrap .content {
  display: flex;
  align-items: stretch;
  gap: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #55565a;
}
.company-content .company-wrap .content_img {
  width: 58px;
  height: 58px;
  background: url("../assets/mark-leaf.svg") center/contain no-repeat;
}
.company-content .company-wrap .content_text {
  width: 544px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  margin: 0;
}
.company-content .order-btn {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 32px 0;
  border-radius: 5px;
  border: none;
}

.feedback {
  padding-bottom: 100px;
}
.feedback .form-wrap {
  width: 1597px;
  max-width: 1597px;
  padding: 72.5px 0 71.5px 134px;
  border: 2px solid #d5c9be;
  border-radius: 30px;
  background: #fff;
  margin: auto;
  background: url("../assets/img/feedback2.png") right 50px center/700px auto no-repeat, url("../assets/img/feedback.png") right center/800px auto no-repeat, white;
}
.feedback .form-wrap .form {
  width: 781px;
  max-width: 781px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.feedback .form-wrap .form h2 {
  margin-bottom: 19px;
}
.feedback .form-wrap .form_inputs {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.feedback .form-wrap .form_inputs__input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #55565a;
  padding: 14.5px 38.16px;
}
.feedback .form-wrap .form .form_privacy {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 36px;
  min-height: 24px;
}
.feedback .form-wrap .form .form_privacy__checkbox {
  position: absolute;
  opacity: 0;
  width: 24px;
  height: 24px;
  left: 0;
  z-index: 1;
  cursor: pointer;
}
.feedback .form-wrap .form .form_privacy__checkbox + .form_privacy__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border: 2px solid #405d65;
  border-radius: 4px;
  background: white;
}
.feedback .form-wrap .form .form_privacy__checkbox:checked + .form_privacy__text::after {
  content: "";
  position: absolute;
  left: 9px;
  top: 40%;
  transform: translateY(-40%) rotate(45deg);
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
}
.feedback .form-wrap .form .form_privacy__checkbox:checked + .form_privacy__text::before {
  background: #405d65;
  border-color: #405d65;
}
.feedback .form-wrap .form .form_privacy__text {
  font-family: var(--font-family);
  font-size: 19px;
  color: #55565a;
  padding-left: 12px;
}
.feedback .form-wrap .form_submit {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  text-transform: uppercase;
  padding: 32px 0;
  color: #fff;
  background: #282829;
  border: none;
  border-radius: 5px;
}
.feedback .form-wrap .form_submit:hover {
  background: #424250;
}
.feedback .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #282829;
  color: white;
  padding: 20px 30px;
  border-radius: 8px;
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.feedback .modal_content {
  text-align: center;
  font-size: 18px;
}
.feedback .modal.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}

.footer {
  background: #222222;
}
.footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #d5c9be;
  border-bottom: 2px solid #d5c9be;
}
.footer-nav .nav-wrap {
  display: flex;
  gap: 60px;
  padding: 40px 0;
}
.footer-nav .nav-wrap_link {
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.footer-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 22px;
  align-items: center;
  gap: 38px 0.5em;
  grid-template-areas: "h3 socials order" "date privacy rules";
  padding: 43px 183px;
}
.footer-links h3 {
  grid-area: h3;
}
.footer-links_socials {
  display: flex;
  gap: 32px;
  grid-area: socials;
  justify-self: center;
}
.footer-links_socials__link {
  transition: all 0.2s ease-in;
}
.footer-links_socials__link:hover {
  transform: scale(1.2) rotate(13deg);
}
.footer-links_order-btn {
  grid-area: order;
  justify-self: end;
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 32px 52px;
  border: none;
}
.footer-links_date, .footer-links_link {
  height: 21px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
}
.footer-links_date {
  grid-area: date;
}
.footer-links_link {
  color: #d5c9be;
}
.footer-links .privacy {
  grid-area: privacy;
  justify-self: center;
}
.footer-links .rules {
  justify-self: end;
  grid-area: rules;
}/*# sourceMappingURL=style.css.map */